#home-info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/colorful-smoke-movement-black-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Ensure the pseudo-element is behind the content */
    animation: animateBg 5s linear infinite;
  }
  
  @keyframes animateBg {
    100% {
      filter: hue-rotate(360deg);
    }
  }
  
  #home-info .ok {
    padding-top: 112px;
  }
  
  #home-info img {
    width: 500px;
  }
  
  #home-info img {
    align-self: center;
    margin-left: 20%;
  }
  
  #home-info .jao {
    margin-top: 5%;
  }
  
  #home-info .btn {
    color: #100f0f;
    background: rgb(248, 248, 251);
  }
  
  #home-info .btn:hover {
    color: #f4edf4;
    background: rgb(14, 13, 13);
  }
  
  .no-animation {
    filter: none;
  }
  
  #home-info .card {
    background: transparent;
    border: 0px;
  }
  
  .circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
  }
  
  .circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(173, 216, 230, 0.5); /* Light blue color for bubbles */
    border-radius: 50%;
    animation: animate 15s linear infinite;
    bottom: -150px;
  }
  
  .circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }
  
  .circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
  }
  
  .circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
  }
  
  .circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
  }
  
  .circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
  }
  
  .circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
  }
  
  .circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
  }
  
  .circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
  }
  
  .circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
  }
  
  .circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
  }
  
  .image-wrapper {
    position: relative;
    width: 200px; /* Match the image size */
    height: 200px; /* Match the image size */
    overflow: hidden; /* Hide the overflow */
    margin: 0 auto; /* Center the image wrapper */
  }
  
  .smaller-image {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out; /* Smooth transition on transform */
  }
  
  .smaller-image:hover {
    transform: scale(1.1); /* Scale up to 120% on hover */
  }
  
  #info {
    background-color: #100f0f;
  }
  
  #info .card {
    margin-top: 5%;
    overflow: hidden; /* Hide overflow content */
    position: relative; /* Create a stacking context */
  }
  